.table-result{

	display: flex;
 	align-items: center;
    justify-content: center;

}
table{
	width: auto;
	margin:20px;
	font-size: 14px;
	table-layout: auto;
}

th{
	padding: 4px;
}

button#fb{
	display: none;
}
form{
	margin-left: 10px;
	border: 1px solid black;
	padding: 10px;
	width: auto;
}
#lim{
	display: inline;
	border: 0px solid black;
	margin-left: 100px;
}
html body{
	background-color: #f0f0f0;
}
#accinfo{
	width: 20%;
	border: 1px solid black;
	margin: 1%;
	padding: 1%;
	border-radius: 5px;
	background-color: white;
	display: inline-block;
}
#mono_info{
	width: 20%;
	border: 1px solid black;
	margin: 1%;
	padding: 1%;
	border-radius: 5px;
	background-color: white;
	display: inline-block;
	font-size: 14px;
}
.all_product{
	width: 10%;
	display: inline-block;
	vertical-align: top;
	text-align: right;
	padding-top: 10px;
}
button{
	background-color: white;
	font-weight: 600;
	border-radius: 6px;
	margin-right: 40px;
}
.navbarr {
	width: 60%;
	display: inline-block;
	text-align: center;
}
#pagemenu{
	background-color: #414747;
	width: 100%;
	text-align: center;
	padding: 10px;
}
#pagemenu button{
	background-color: white;
	font-size: 14px;
}
#pagemenu strong{
	color: white;
}
#accall{
	padding-left: 10px;
	font-size: 18px;
	font-weight: 600;
	margin-top: 40px;
}
#accall a{
	color: black;
	border: 1px solid black;
	padding: 5px;
	margin-right:  20px;
}
h4{
	margin-left: 10px;
}
form#little{
	width: auto;
	display: inline-block;
	border-radius: 5px;
	padding: 20px;
	background-color: #414747;
	color: white;
}
#cardtable{
	width: 30%;
	border-radius: 20px;


}
#mbut {
	color: #414747;
	font-weight: 600;
}

div.adcard{
	margin-left: 25px;
	border-radius: 5px;
	margin-bottom:  35px;
}